.swiper {
    width: 100%;
    height: 85vh;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 400ms ease;
}

.swiper-slide:hover img {
    opacity: .5555;
    transform: scale(1.07);


}

.slider-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.slidername {
    font-size: 32px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 1rem;
}

.morepic {
    border-color: #fff;
    color: #fff;
    border-width: 2px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: .1em;
    padding: 0.5rem 1.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.morepic:hover {
    background-color: #fff;
    color: #000;
}


.swiper-button-next:after,
.swiper-button-prev:after {
    display: none;


}

.swiper-button-next i,
.swiper-button-prev i {
    font-size: 16px;
    background-color: rgba($color: #000000, $alpha: 0.6);
    color: #fff;
    padding: .7rem .7rem;



}

.swiper-button-next {
    margin-right: 1.3rem;
}
.swiper-button-prev {
    margin-left: 1.3rem;
}