body {
    // line-height: 1.7;
    color: #4d4d4d;
    font-weight: 300;
    font-size: 1rem;
    padding: 0 1rem;
    font-family: var(--ff-josefin);
    // background-color: #3b73a4;

}

.section-center {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.flex {
    display: flex !important;
    justify-content: center;
    align-content: center;
}

.pd-bg {
    padding: 8rem 0;

}

.pd-top-bg {
    padding-top: 4rem;
}

.pd-bg {
    padding-bottom: 2rem;
}

.pd-md {
    padding: 6rem 0;

}

.pd-sm {
    padding: 4rem 0;

}

.pd-xsm {
    padding: 2rem 0;

}

.margin-b {
    margin-bottom: 1rem;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center !important;
}

// font size

.heading-1 {
    font-size: 64px;
    font-weight: 500;
    color: #000000;


}

.heading-2 {
    font-size: 32px;
    color: #000000;


}


.heading-3 {
    font-size: 28px;
    color: var(--light-gray);

}



.heading-4 {
    font-size: 24px;
    color: #000000;

}

.heading-5 {
    font-size: 16px;
}



.heading-6 {
    font-size: 12px;
    color: #000000;
    font-weight: 300;



}

.heading-7 {
    font-size: 11px;


}



.logo-size {
    font-size: 72px;
    color: var(--primary-green);
}

.color-green {
    color: var(--primary-green);

}

// font weight


.font-w-100 {
    font-weight: 100 !important;

}

.font-w-200 {
    font-weight: 200 !important;

}

.font-w-300 {
    font-weight: 300 !important;
}

.font-w-400 {
    font-weight: 400 !important;
}

.font-w-500 {
    font-weight: 500 !important;
}

.font-w-600 {
    font-weight: 600 !important;
}

.font-w-700 {
    font-weight: 700 !important;
}

