.header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--ff-josefin);

}

.logo {
    font-size: 32px;
    font-weight: 500;
    color: #000;
}

.navbar {

    &__navlist {
        display: flex;
        gap: 30px;

    }

    &__navlist li {
        position: relative;
    }

    &__navlist li a {
        font-size: 13px;
        transition: all 0.3s;
        font-weight: 400;
        text-transform: uppercase;
        color: #343a40;



    }

    &__navlist li a:hover {
        color: var(--primary-green);

    }

    &__dropdown-content {
        display: block;
        position: absolute;
        left: 0;
        top: 30px;
        // background-color: #000;
        transition: all 0.2s ease-in;
        visibility: hidden;
        opacity: 0;
        transform: translateY(10px);
        // box-shadow: 10px 5px 3px rgba($color: #000000, $alpha: 1.0);
        border-top: 4px solid #20c997;
        -webkit-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.75);

    }

    &__dropdown-list {
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    &__dropdown-links {
        min-width: 200px;
        padding: 20px 20px;
        display: block;
    }
    
    &__dropdown-links:hover {
        background: #f4f5f9;
        // background-color: #4b0808;
        color: #25262a !important;
    }

    &__navlist li:hover &__dropdown-content {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    // =======================
    //    sub dropdown
    // =======================


    &__sub-dropdown {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 200px;
        transition: all 0.2s ease-in;
        visibility: hidden;
        opacity: 0;
        transform: translateY(10px);
        border-top: 4px solid #20c997;

    }

    &__dropdown-list li:hover &__sub-dropdown {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);

    }


}

.social_icons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.social_icons a i {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    transition: all 200ms ease-in;

}

.social_icons a i:hover {
    color: var(--primary-green);

}


.fa-chevron-right {
    float: right;
}