body {
  color: #4d4d4d;
  font-weight: 300;
  font-size: 1rem;
  padding: 0 1rem;
  font-family: var(--ff-josefin); }

.section-center {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem; }

.site-section {
  padding: 5rem 0; }

.flex {
  display: flex !important;
  justify-content: center;
  align-content: center; }

.pd-bg {
  padding: 8rem 0; }

.pd-top-bg {
  padding-top: 4rem; }

.pd-bg {
  padding-bottom: 2rem; }

.pd-md {
  padding: 6rem 0; }

.pd-sm {
  padding: 4rem 0; }

.pd-xsm {
  padding: 2rem 0; }

.margin-b {
  margin-bottom: 1rem; }

.text-uppercase {
  text-transform: uppercase; }

.text-center {
  text-align: center !important; }

.heading-1 {
  font-size: 64px;
  font-weight: 500;
  color: #000000; }

.heading-2 {
  font-size: 32px;
  color: #000000; }

.heading-3 {
  font-size: 28px;
  color: var(--light-gray); }

.heading-4 {
  font-size: 24px;
  color: #000000; }

.heading-5 {
  font-size: 16px; }

.heading-6 {
  font-size: 12px;
  color: #000000;
  font-weight: 300; }

.heading-7 {
  font-size: 11px; }

.logo-size {
  font-size: 72px;
  color: var(--primary-green); }

.color-green {
  color: var(--primary-green); }

.font-w-100 {
  font-weight: 100 !important; }

.font-w-200 {
  font-weight: 200 !important; }

.font-w-300 {
  font-weight: 300 !important; }

.font-w-400 {
  font-weight: 400 !important; }

.font-w-500 {
  font-weight: 500 !important; }

.font-w-600 {
  font-weight: 600 !important; }

.font-w-700 {
  font-weight: 700 !important; }

.p_relative {
  position: relative; }

*,
*::after,
*::before {
  box-sizing: border-box;
  border: 0 solid transparent;
  scroll-behavior: smooth; }

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none !important; }

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none; }

button {
  padding: 0;
  margin: 0; }

button:hover {
  cursor: pointer; }

input,
button,
textarea,
select {
  font: inherit;
  line-height: inherit;
  color: inherit; }

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%; }

:root {
  --primary-green: #20c997;
  --dark: #343a40;
  --light-gray: #4d4d4d;
  --logo-clr: #1eba8c;
  --secondry-clr:#212529;
  --ff-josefin: 'Josefin Sans',sans-serif; }

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--ff-josefin);
  padding: 1.5rem 1rem; }

.logo {
  font-size: 32px;
  font-weight: 500;
  color: #000; }

.navbar__navlist {
  display: flex;
  gap: 30px; }

.navbar__navlist li {
  position: relative; }

.navbar__navlist li a {
  font-size: 13px;
  transition: all 0.3s;
  font-weight: 400;
  text-transform: uppercase;
  color: #343a40; }

.navbar__navlist li a:hover {
  color: var(--primary-green); }

.navbar__dropdown-content {
  display: block;
  position: absolute;
  left: 0;
  top: 30px;
  background-color: #fff;
  transition: all 0.2s ease-in;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  border-top: 4px solid #20c997;
  -webkit-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 3px 16px 0px rgba(0, 0, 0, 0.75);
  z-index: 1000; }

.navbar__dropdown-list {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.navbar__dropdown-links {
  min-width: 200px;
  padding: 16px 20px;
  display: block; }

.navbar__icon {
  font-size: 10px;
  cursor: pointer; }

.navbar__dropdown-links:hover {
  background: #f4f5f9;
  color: #25262a !important; }

.navbar__navlist li:hover .navbar__dropdown-content {
  visibility: visible;
  opacity: 1;
  transform: translateY(0); }

.navbar__sub-dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 200px;
  transition: all 0.2s ease-in;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  background-color: #fff;
  border-top: 4px solid #20c997;
  z-index: 1; }

.navbar__dropdown-list li:hover .navbar__sub-dropdown {
  visibility: visible;
  opacity: 1;
  transform: translateY(0); }

.social_icons {
  display: flex;
  align-items: center;
  gap: 30px; }

.social_icons a i {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  transition: all 200ms ease-in; }

.social_icons a i:hover {
  color: var(--primary-green); }

.fa-chevron-right {
  float: right; }

.menu__ham {
  cursor: pointer; }

.menu__icon i {
  font-size: 24px; }

.menu__ham {
  display: none; }

.sidebar {
  display: none; }

@media screen and (max-width: 1000px) {
  .nav {
    display: none; }
  .social_icons {
    display: none; }
  .menu__ham {
    display: block; }
  .sidebar {
    position: fixed;
    background-color: #fff;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    width: 300px;
    padding: 2rem 0;
    transform: translateX(100%);
    display: block;
    transition: all .4s ease-in;
    z-index: 1000;
    overflow-y: scroll; }
    .sidebar__show {
      transform: translateX(0); }
    .sidebar__closeBtn {
      float: right;
      width: 20px;
      margin-right: 2rem; }
    .sidebar__closeBtn:hover {
      transition: transform 500ms linear;
      animation: spin 1s forwards infinite;
      cursor: pointer; }
    .sidebar__menu {
      padding: 85px 20px 23px 29px; }
    .sidebar__list {
      display: flex;
      flex-direction: column;
      gap: 25px; }
    .sidebar__links {
      font-size: 20px;
      font-weight: 500;
      transition: all .2s ease; }
    .sidebar__links:hover, .sidebar__dropdown-links:hover {
      color: var(--primary-green); }
    .sidebar__dropdown-list {
      margin-top: 20px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      display: none; }
    .sidebar__dropdown-links {
      font-size: 16px;
      font-weight: 400;
      color: #212529; }
    .sidebar__sub-dropdown {
      margin-top: 20px;
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px; }
    .sidebar__icon {
      float: right;
      font-size: 12px;
      font-weight: 700; }
    .sidebar__active .sidebar__icon {
      transform: rotate(180deg); }
  @keyframes spin {
    0% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(360deg); } }
  .sidebar__social_icons {
    display: flex;
    margin-top: 3rem;
    gap: 30px; }
  .sidebar__social_icons a {
    color: #000;
    font-size: 20px;
    transition: all .4s ease; }
  .sidebar__social_icons a:hover {
    color: var(--primary-green); } }

.swiper {
  width: 100%;
  height: 85vh; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 400ms ease; }

.swiper-slide:hover img {
  opacity: .5555;
  transform: scale(1.07); }

.slider-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.slidername {
  font-size: 32px;
  color: #fff;
  font-weight: 500;
  margin-bottom: 1rem; }

.morepic {
  border-color: #fff;
  color: #fff;
  border-width: 2px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: .1em;
  padding: 0.5rem 1.5rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }

.morepic:hover {
  background-color: #fff;
  color: #000; }

.nature__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 25px; }

.nature__imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  -webkit-box-shadow: 2px 13px 22px -14px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 2px 13px 22px -14px rgba(0, 0, 0, 0.64);
  box-shadow: 2px 13px 22px -14px rgba(0, 0, 0, 0.64); }

.nature__imgs img:hover {
  cursor: pointer; }
