.nature {

    &__gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        gap: 25px;
    }
    &__imgs img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        -webkit-box-shadow: 2px 13px 22px -14px rgba(0, 0, 0, 0.64);
        -moz-box-shadow: 2px 13px 22px -14px rgba(0, 0, 0, 0.64);
        box-shadow: 2px 13px 22px -14px rgba(0, 0, 0, 0.64)
    }

    &__imgs img:hover {
        cursor: pointer;
    }

}